openapi: 3.0.4
info:
  title: Airline Lookup
  description: Airline Lookup is a simple tool for getting information on airlines. It returns information on various airlines.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.9
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
- url: https://api.apiverve.com/
paths:
  /v1/airlinelookup:
    get:
      summary: Get Airline Info from IATA
      description: Airline Lookup is a simple tool for getting information on airlines. It returns information on various airlines.
      operationId: airlinelookup
      parameters:
      - name: iata
        in: query
        schema:
          type: string
        required: false
        description: The IATA code of the airline for which you want to get the information (e.g., AA)
        example: AA
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: string
                    description: data
              example:
                status: ok
                error: 
                data:
                - Name: American Airlines
                  Alias: ''
                  IATA: AA
                  ICAO: AAL
                  Callsign: AMERICAN
                  Country: United States
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occured, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
- api_key: []
